extends layout.pug

block content
  .jumbotron.text-center
    h1 hi baby :) 
    .container
    .row
      .col-md-4.text-center
        img.img-responsive(src='img/mush.png')
        h2(style='padding:10px;') Hero Mush
        p.lead.
          A super hero that can turn you into a mushroom
      .col-md-4.text-center
        img.img-responsive(src="img/pugdog.jpg")
        h2(style='padding:10px;') Pug Dog
        p.lead.
          The ultimate template for node expresss
      .col-md-4.text-center
        h2(style='padding:10px;') this is the third column 4      
  